<mat-toolbar id="toolbar" class="mat-elevation-z4">
  <div id="container-navbar">
    <div id="image-title">
      <img src="/assets/logo.jpg" id="img-logo" />

      <h3>{{ title }}</h3>
    </div>

    <nav id="navbar">
      <a class="nav-link" routerLink="/brands"> Marcas </a>
      <a class="nav-link" routerLink="/offer"> Ofertas </a>
      <a class="nav-link" routerLink="/login"> Entrar </a>
    </nav>

    <div id="carshop-icon-container">
      <mat-icon>shopping_cart</mat-icon>
      <div
        id="quantity-products-in-carshop"
        *ngIf="canShowTotalQuantityOfProductsInCarshop()"
      >{{getQuantity()}}</div>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
